@model Ozoterija.Models.radnik

@{
    ViewBag.Title = "Detalji radnika";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalji radnika</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ime grada
        </dt>

        <dd>
            @Html.DisplayFor(model => model.grad.ime_grada)
        </dd>

        <dt>
            Ime radnika
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ime_radnika)
        </dd>

        <dt>
            Prezime radnika
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prezime_radnika)
        </dd>

        <dt>
            Plata radnika
        </dt>

        <dd>
            @Html.DisplayFor(model => model.plata_radnika)
        </dd>

        <dt>
            Certifikat radnika
        </dt>

        <dd>
            @Html.DisplayFor(model => model.certifikat_radnika)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Uredi", "Edit", new { id = Model.id_radnika }, htmlAttributes: new { @class = "text-white btn btn-success" }) 
    <a class="text-white btn btn-danger" href="~/radnik/Index">Natrag</a>
</p>
