@model Ozoterija.Models.oprema

@{
    ViewBag.Title = "Detalji opreme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalji opreme</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ime referentnog tipa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.referetni_tip.ime_referetni_tip)
        </dd>

        <dt>
           Ime skladišta
        </dt>

        <dd>
            @Html.DisplayFor(model => model.skladiste.ime_sklaldista)
        </dd>

        <dt>
           Ime opreme
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ime_opreme)
        </dd>

        <dt>
             Kupovna vrijednost
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kupovna_vrijednost)
        </dd>

        <dt>
          Knjigovodstvena vrijednost
        </dt>

        <dd>
            @Html.DisplayFor(model => model.knjigovodstvena_vrijednost)
        </dd>

        <dt>
           Trenutno stanje
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trenutno_stanje)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Uredi Opremu", "Edit", new { id = Model.id_opreme }, htmlAttributes: new { @class = "text-white btn btn-success" })

    <span class="btn btn-danger">
        <a class="boja" href="/oprema/">Natrag</a>
    </span>
</p>
<style>
    .boja {
        color: white;
    }

        .boja:hover {
            color: black;
            text-decoration: none;
        }
</style>