@model Ozoterija.Models.uloga

@{
    ViewBag.Title = "Kreiraj Ulogu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kreiranje Uloge</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ime_uloge, "Ime uloge", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ime_uloge, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ime_uloge, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cijena_satnice, "Cijena satnice", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cijena_satnice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cijena_satnice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kreiraj" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<a class="text-white btn btn-danger" href="~/uloga/Index">Natrag</a>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
