@model IEnumerable<Ozoterija.Models.servis>

@{
    ViewBag.Title = "Pregled servis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pregled servisa</h2>

<div style="float:right" class="btn btn-success">
    <a class="boja" href="/servis/Create">Napravi Servis</a>
</div>
<br />
<br />
<br />
<table class="table table-hover" id="tablica">
    <thead>
        <tr>
            <th>
                Ime opreme
            </th>
            <th>
                Cijena servisa
            </th>
            <th>
                Dijelovi
            </th>
            <th>
                Datum servisa
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.oprema.ime_opreme)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cijena_servisa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dijelovi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.datum_servisa)
                </td>
                <td>
                    <div class="btn btn-success">@Html.ActionLink("Uredi Servis", "Edit", new { id = item.id_servisa }, htmlAttributes: new { @class = "boja" })</div>
                    <div class="btn btn-warning"> @Html.ActionLink("Detalji Servis", "Details", new { id = item.id_servisa }, htmlAttributes: new { @class = "boja" }) </div>
                    <div class="btn btn-danger"> @Html.ActionLink("Izbriši Servis", "Delete", new { id = item.id_servisa }, htmlAttributes: new { @class = "boja" })</div>
                </td>
            </tr>
        }
    </tbody>

</table>
@section scripts{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#tablica').DataTable({
                language: {
                    search: "Pretraga",
                    info: "_START_ - _END_ (ukupno _TOTAL_)",
                    lengthMenu: "Prikaži _MENU_ zapisa",
                    paginate: {
                        first: "Prva",
                        previous: "Prethodna",
                        next: "Sljedeća",
                        last: "Zadnja"
                    },
                    emptyTable: "Nema podataka za prikaz",
                    info: "_START_ - _END_ od ukupno _TOTAL_ zapisa",
                    infoEmpty: "Nema podataka za prikaz",
                    infoFiltered: "(filtrirano od ukupno _MAX_ zapisa)",
                    zeroRecords: "Ne postoje traženi podaci"
                }
            });
        });


    </script>
}
<style>
    .boja {
        color: white;
    }

        .boja:hover {
            color: black;
            text-decoration: none;
        }
</style>
