@model Ozoterija.Models.radnik_dogadjaj

@{
    ViewBag.Title = "Izbriši događaj radnik";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Izbriši Događaj radnik</h2>

<h3>Jeste li sigurni da želite izbrisati?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Naziv događaja
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dogadjaj.naziv_dogadjaja)
        </dd>

        <dt>
            Ime radnika
        </dt>

        <dd>
            @Html.DisplayFor(model => model.radnik.ime_radnika)
        </dd>

        <dt>
            Pocetak događaja
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pocetak_dogadjaja)
        </dd>

        <dt>
            Kraj događaja
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kraj_dogadjaja)
        </dd>

        <dt>
            Plata
        </dt>

        <dd>
            @Html.DisplayFor(model => model.plata)
        </dd>

        <dt>
            Uloga
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uloga)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Izbriši" class="btn btn-danger" /> 
            <a class="text-white btn btn-warning" href="~/radnik_dogadjaj/Index">Natrag</a>
        </div>
    }
</div>
